.div4{
    overflow: scroll;
    border:5px solid rgb(0, 0, 0);
    height: 50px;
}
.div{
    background-color: rgb(255, 0, 0);
    display: block;
    width: 100px;
    height: 50px;
}
.span{
    background-color: rgb(0, 255, 0);
    display: inline-block;
    width: 100px;
    height: 50px;
}
body{
    background-image: url(nyc-2018_skyline_03.webp);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} /* background-image è una proprietà CSS che consente di impostare un'immagine di sfondo per un elemento HTML. In questo caso, l'immagine "nyc-2018_skyline_03.webp" viene utilizzata come sfondo per l'intera pagina web. */