/*flecxbox*/
.container{
    display: flex;
    flex-direction: space-evenly; /* The flex-direction property specifies the direction of the flexible items. In this case, the items will be displayed in reverse order from right to left. */
    border: 10px solid rgb(0, 0, 0);
    height: 60vh;
   column-gap: 1em; /* serve a impostare lo spazio tra le colonne di un layout. È molto usato con Flexbox, Grid e il layout a colonne multiple.
    flex-wrap: wrap; /* The flex-wrap property specifies whether the flexible items should wrap or not. In this case, the items will wrap onto multiple lines if necessary. */ 
    justify-content: space-evenly; /* The justify-content property is used to align the flexible items along the main axis. In this case, the items will be evenly distributed with equal space between them. */
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 10px;
}
#box1{
    background-color: #f70000;
    align-self:start;
}
#box2{
    background-color: #facc15;
    align-self: center ;
}
#box3{
    background-color: #22c55e;
    align-self: end;
}
#box4{
    background-color: #3b82f6;
}
/* trasformation */
#box6{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: #22c55e;
    transform: rotateZ(45deg);
    transform: scale(0.75);

}
.body{
    margin:0;
    background-color: black;
}
/* Animation*/
#box9{
    width: 250px;
    height: 250px;
    background-color: #f70000;
    font-size: 13em;
    text-align: center;
    animation-duration: 2s;
    animation-name: slideLeft;
    animation-play-state: running;
    animation-timing-function: steps(6);
    animation-direction: reverse;
    cursor: pointer;
   
}

@keyframes slideLeft{
        from{transform: translateX(300%)}
    }

    @keyframes slideRight{
        to{transform: translateX(300%)}
    }
        @keyframes slideUp{
        from{transform: translateX(300%)}
    }
        @keyframes slideDown{
        to{transform: translateX(300%)}
    }
      @keyframes rotate{
        100%{transform: rotateX(360deg)}
    }
      @keyframes grow{
        100%{transform: scale(2, 2)}
    }
       @keyframes shrink{
        50%{transform: scale(0.5, 0.5)}
    }
       @keyframes fade{
        50%{opacity: 1;}
    }
       @keyframes colorChange{
        0%{background-color: hsl(0, 100%, 62%);}
        20%{background-color: hsl(36, 100%, 62%);}
        40%{background-color:rgb(239, 255, 12);}
        60%{background-color: hsl(123, 38%, 48%);} 
        80%{background-color: hsl(224, 100%, 50%);}
        100%{background-color: hsl(276, 100%, 48%);}
    }
     @keyframes glow{
        50%{box-shadow: 0px 0px 50px rgb(83, 0, 236)}
    }

